*{
    margin: 0;
    padding: 0;
}
.first_sec{
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFF8F3;
    width: 100%;
    
    font-family: Open Sans;
    line-height: normal; 
    height: 100vh;
}
.nav_container{
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFF8F3;
    width: 100%;
    
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 

    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
#mary{
    margin-top: 51px;
    margin-left: 226px;
}
.text-primary{
    color: #FD6E0A;
}
.skills_container{
    margin-top: 68px;
    margin-right: 230px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    
    

    display: flex;
}
#a_a{
    padding: 18px 30px;
    font-weight: 700;

}
section a{
    text-decoration: none;
    color: #474747;
}
.first_sec{
    height: 800px;
}
.btn_hireMe{
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-style: normal;
    color: #474747;
    font-weight: 700;
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
}
/* 2nd part */
.banner{
    margin-top: -0px;
    background-color: #FFF8F3;
    display: flex;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.opo{
    margin-top: 150px;
    margin-left: 226px;
    margin-bottom: -80px;
    font-family: Open Sans;
    color:  #474747;
}
.greeting{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.banner_title{
    font-size: 70px;
    font-weight: 800;
}
.btn_primary{
    background-color: #FD6E0A;
    padding: 12px 26px;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    margin-bottom: 40px;
}
.banner_btn{
    color: #FD6E0A;
    font-weight: 600;
    padding: 12px 36px;
    border-radius: 2px;
    font-size: 18px;
    margin-left: 50px;
    border: 2px solid #FD6E0A;
}
.profile{
    display: flex;
    height: 676px;
    flex-shrink: 0;
    margin-top: -650px;
    margin-left: 1400px;
    
}
.main_sub_div{
    display: flex;
    justify-content: center;

    
}
.card{
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Open Sans;
}
.about_me{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 130px 0 80px 0;
}
.explain_myself{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.about_info_container{
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
    
}
.about_info{
    
    padding: 0 18px;
}
.info_description{
    font-weight: bold;
    padding: 15px 0;
}
/* 3rd */
.main_programs_container{
    font-family: Open Sans;
}

.what_I{
    text-align: center;
    margin-bottom: 50px;
}
.experience{
    text-align: center;
}
.languages{
    border-radius: 5px;
    background: #FFF;
    padding: 15px;
    margin-right: 65px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: 2px solid #FD6E0A;
}
.main_programs{
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
    justify-content: center;
    
}
/* 4th part */

.summery_headline{
    text-align: center;
    font-size: 36px;
    font-family: Open Sans;
}
.sub_summery_container{
    display: flex;
    font-family: Open Sans;
    justify-content: space-around;
    
}
.my_edu{
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: -300px;

}
.my_exp{
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-right: 180px;
}
.efg{
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sub_title{
    color: var(--dark-02, #474747);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 0;
}
.place_at{
    color: #757575;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding: 10px 0;
}
.details{
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 10px 0;
}
.underline{
    border-bottom: 3px solid #D1D1D1;
}
.div_download{
    display: flex;
    justify-content: center;
}
.download_cv{
    background-color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border: none;
    border-radius: 5px;
}
/* footer style */
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    height: 780px;
}
.footer_colum{
    width: 50%;
    text-align: center;
}
.section_title{
    color: #181818;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sec_ti{
    color: #474747;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;
}
.social_icons{
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.icon_png{
    padding: 20px;
}
.describe{
    display: block;
    margin-left: 200px;
    margin-top: 34px;
    margin-bottom: 34px;
    padding: 18px 35px;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 461px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}.describe_button{
    background-color: #FD6E0A;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
    margin-left: 200px;
    border: none;
    border-radius: 5px;
}
