*{
    margin: 0;
    padding: 0;
}
.first_sec{
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFF8F3;
    width: 100%;
    
    font-family: Open Sans;
    line-height: normal; 
    height: 100vh;
}
.nav_container{
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFF8F3;
    width: 100%;
    
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 

    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
#mary{
    margin-top: 51px;
    margin-left: 226px;
}
.text-primary{
    color: #FD6E0A;
}
.skills_container{
    margin-top: 68px;
    margin-right: 230px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    
    

    display: flex;
}
#a_a{
    padding: 18px 30px;
    font-weight: 700;

}
section a{
    text-decoration: none;
    color: #474747;
}
.first_sec{
    height: 800px;
}
.btn_hireMe{
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-style: normal;
    color: #474747;
    font-weight: 700;
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
}
/* 2nd part */
.banner{
    margin-top: -0px;
    background-color: #FFF8F3;
    display: flex;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.opo{
    margin-top: 150px;
    margin-left: 226px;
    margin-bottom: -80px;
    font-family: Open Sans;
    color:  #474747;
}
.greeting{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.banner_title{
    font-size: 70px;
    font-weight: 800;
}
.btn_primary{
    background-color: #FD6E0A;
    padding: 12px 26px;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    margin-bottom: 40px;
}
.banner_btn{
    color: #FD6E0A;
    font-weight: 600;
    padding: 12px 36px;
    border-radius: 2px;
    font-size: 18px;
    margin-left: 50px;
    border: 2px solid #FD6E0A;
}
.profile{
    display: flex;
    height: 676px;
    flex-shrink: 0;
    margin-top: -650px;
    margin-left: 1400px;
    
}
.main_sub_div{
    display: flex;
    justify-content: center;

    
}
.card{
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Open Sans;
}
.about_me{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 130px 0 80px 0;
}
.explain_myself{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.about_info_container{
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
    
}
.about_info{
    
    padding: 0 18px;
}
.info_description{
    font-weight: bold;
    padding: 15px 0;
}
.main_programs{
    display: flex;
}
